.tab {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}
.SliderLeft {
  margin: 0px 10% 0px 10%;
  padding: 0px 22% 0px 0%;
}
@media screen and (max-width: 576px) {
  .SliderLeft {
    margin: 0px 10% 0px 10%;
    padding: 0px 0% 0% 0%;
  }
}
@media screen and (max-width: 992px) {
  .MenuLeftDesktop {
    display: none;
  }
}
.CTA-Homepage {
  color: white;
  background-color: #007eea;
  border: 0px;
  border-radius: 0px;
  height: 50px;
  width: 150px;
}
.CTA-Homepage:hover {
  color: #162d8c;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  border: 2px solid white;
  height: 50px;
  width: 150px;
}
