body {
  font-family: Sen;
  background-color: white !important;
  max-width: 100%;
  overflow-x: hidden;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
p {
  font-family: Sen !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sen-Bold;
}
@font-face {
  font-family: "Sen";
  src: url("../assets/fonts/Sen/Sen-Regular.ttf");
}
@font-face {
  font-family: "Sen-Bold";
  src: url("../assets/fonts/Sen/Sen-Bold.ttf");
}
.ant-layout-footer {
  padding: 0px 0px !important;
}
.ant-layout-header {
  background: white !important;
  color: white !important;
  padding: 0px !important;
  height: auto !important;
}
@media screen and (min-width: 992px) {
  .MenuMobile {
    display: none;
  }
}
.MenuMobile .ant-menu {
  background: #162d8c;
  border: none;
  color: white;
}
