.footerMenu li {
  display: inline;
}
.footerMenu ul {
  padding: none;
}
.footerMenu li a {
  color: white;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  letter-spacing: 0.5px;
  font-size: 15px;
}
@media screen and (max-width: 44em) {
  .footerMenu li {
    display: block;
    padding: 0px 0px 10px 0px;
  }
  .footerMenu ul {
    margin: 0;
    padding: 0;
  }
  .footerMenu .pointsymbol {
    visibility: hidden;
  }
}
